<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue学习</title>
    <script src="" type="text/javascript"></script>
</head>
<body>
<div id="app-1">
    <component-a v-for="post in posts"
        v-bind:key="post.id"
        v-bind:post="post">

    </component-a>
    <component-b v-for="post in posts"
                 v-bind:key="post.id"
                 v-bind:post="post">

    </component-b>
</div>


<script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
<script>
    var ComponentA = {
        props: ['post'],
        template: `
            <h3>{{ post.title }}</h3>
        `
    }

    var ComponentB = {
        props: ['post'],
        template: `
            <button>{{ post.content }}</button>
        `
    }

    var ComponentC = {
        props: ['post'],
        template: `
            <button>{{ post.content }}</button>
        `
    }

    new Vue({
        el: '#app-1',
        components: {
            'component-a': ComponentA,
            'component-b': ComponentB
        },
        data: {
            posts: [
                { id: 1, title: 'title111', content: 'content111'},
                { id: 2, title: 'title222', content: 'content222'},
                { id: 3, title: 'title333', content: 'content333'}
            ]
        }
    })
</script>
</body>
</html>